@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

a {
  color: #000 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 14px;
  margin: 0;
  color: #999;
}

img {
  max-width: 100%;
}

:focus {
  outline: none;
  border-color: #99ccff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 500;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #accffe;
}

.inner {
  position: relative;
  width: 435px;
}

.image-1 {
  position: absolute;
  bottom: -12px;
  left: -191px;
  z-index: 99;
}

.image-2 {
  position: absolute;
  bottom: 0;
  right: -129px;
}

.form {
  display: none;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 50px 60px;
  padding-top: 60px !important;
  background: #fff;
  transition: all .3s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.form.active {
  display: flex;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #333;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px;
}

.form-input-field {
  position: relative;
}

.form-input-field span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #333;
}

.form-control {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 35px;
  background: none;
  padding: 25px 15px;
  color: #666;
  font-size: 16px;
  position: relative;
}

.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}

.form-control::-moz-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}

.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}

.form-control:-moz-placeholder {
  font-size: 14px;
  color: #999;
  transform: translateY(1px);
}

.session-btn {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #99ccff;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.session-btn span {
  position: relative;
  z-index: 2;
}

.session-btn:before,
.session-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(52, 152, 253, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.session-btn:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.session-btn:hover:before,
.session-btn:hover:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#btn-1, #btn-2 {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #2470bd;
  color: #fff;
}

@media (max-width: 991px) {
  .inner {
    width: 400px;
    left: 4%;
  }
}

@media (max-width: 767px) {
  .inner {
    width: 100%;
    left: 0;
  }

  .image-1,
  .image-2 {
    display: none;
  }

  form {
    padding: 35px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .wrapper {
    background: none;
  }
}
